{% extends "base.html" %}

{% block content %}
    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .hided-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0.5rem;
        }

        .btns {
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    </style>
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                     src="{{ url_for('static', filename='imagenet_subset/'+image_id) }} "
                     alt={{ image_id }}/>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <canvas id="classificationOutput" style="max-width: 500px;"></canvas>
                    <div class="align-items-center">
                        <h2 id="waitText"></h2>
                        <div class="m-5 spinner spinner-border mr-auto spinner-grow text-dark row" id="spinner"></div>
                    </div>
                </div>

                <div class="btns">
                    <a id="download_json_btn" class="btn btn-dark hided-btn" href="#" role="button">
                        <i class="material-symbols-outlined">file_download</i><span>Download as JSON</span>
                    </a>
                    <a id="download_png_btn" class="btn btn-dark hided-btn" href="#" role="button">
                        <i class="material-symbols-outlined">image</i><span>Download as PNG</span>
                    </a>
                </div>
                <a class="btn btn-dark" href="/classifications" role="button">Back</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for("static", filename="poll.js") }}" id="polling" jobid={{ jobID }}></script>

{% endblock %}



