{% extends "base.html" %}

{% block content %}

    <h1>Select Model and Image</h1>
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h4>
            Model:
        </h4>
        <p>
            {{ form.model }}
        </p>
        <div id="image">
            <h4>
                Image:
            </h4>
            <p>
                {{ form.image }}
                <a href="#" onclick="toggleUploadBtn()">Want to upload your own images?</a>
            </p>
        </div>
        <div id="upload-file" style="display: none">
            <h4>Upload you own image:</h4>
            <p>
                {{ form.upload_file }}
                <a href="#" onclick="toggleUploadBtn()">Want to use a pre-loaded image?</a>
            </p>
        </div>
        <div style="visibility: hidden">
            {{ form.use_own_img }}
        </div>
        <button type="submit" class="btn btn-dark mb-2">Submit</button>
    </form>

    <script>
        // toggle the visibility of the upload file button
        function toggleUploadBtn() {
            var upload_div = document.getElementById("upload-file");
            var image_div = document.getElementById("image");
            if (upload_div.style.display === "none") {
                // show upload button
                upload_div.style.display = "block";
                image_div.style.display = "none";

                // set the use_default field to true
                document.getElementById("use_own_img_cbx").checked = true;
            } else {
                upload_div.style.display = "none";
                image_div.style.display = "block";
                document.getElementById("use_own_img_cbx").checked = false;
            }
        }
    </script>
{% endblock %}