{% extends "base.html" %}

{% block content %}

    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    </style>
    <div class="row">
        <div class="col">
            <h4>Base image</h4>
            <img class="large-front-thumbnail" src="{{ url_for('static', filename='imagenet_subset/'+old_image) }} " alt="Old image"/>
        </div>
        <div class="col">
            <h4>Transformed image</h4>
            <img class="large-front-thumbnail" src="{{ url_for('static', filename='imagenet_subset/'+new_image) }} " alt="New image"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a type="button" class="btn btn-primary btn-lg btn-block mt-4" href="/transformation">Back</a>
        </div>
    </div>
{% endblock %}